<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="../../static/styles.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Banks</h2>
        <ul>
            <li><a href="#">Axis Bank</a></li>
            <li><a href="#">Bank of India</a></li>
            <li><a href="#">Central Bank of India</a></li>
            <li><a href="#">Indian Bank</a></li>
            <li><a href="#">Induslnd Bank</a></li>
            <li><a href="#">SBI</a></li>
            <li><a href="#">Union Bank of India</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <img class="logo" src="../../static/logo.png" alt="logo" width="100vw">
        <nav>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
    </div>
</div>
<div class="btn">
  <a href="#" class="custom-link">Customer Portal</a>
</div>
</body>
</html>